.panel {
    position: relative;
    height: 100%;
    padding-bottom: 2.5vh;
}

#button {
    display: flex;
    position: sticky;
    top: 95vh;
    width: 2.5vh;
    height: 2.5vh;
    border: 1px solid white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

#button:hover {
    background-color: #3C405C;
    color: #9bf1ff;
    border-color: #9bf1ff;
}

#button:active {
    color: #53e3fb;
    border-color: #53e3fb;
}
