@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    background-color: #242943;
    color: white;
    font-family: "Ubuntu", "Verdana", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

header, footer {
    background-color: #3C405C;
    width: 100%;
    height: 10vh;
    display: flex;
}

header {
    position: sticky;
    top: 0;
    transition: opacity 0.25s;
}

header:hover {
    opacity: 1 !important;
}

footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: #9bf1ff;
}

a:active {
    text-decoration: none;
    color: #53e3fb;
}

main {
    flex: 1 0 0;
    display: flex;
    width: 100%;
}

article {
    width: 80%;
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    margin: 1em 0em 2em 0em;
}

aside {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    font-size: 2.5em;
}

hr {
    color: white;
    width: 100%;
}

main h2 {
    font-size: 1.5em;
}

ul, ol, dl {
    padding-left: 2.5em;
}

p, li, dt {
    margin: 1em 0em 1em 0em;
}

dl dl {
    padding-left: 0em;
}

dt {
    font-weight: bold;
}

section, li, dt, dd, p {
    scroll-margin-top: 10vh;
}

li {
    width: fit-content;
    padding: 0em 0.25em 0em 0.25em;
}

sub li {
    line-height: 1.25em;
    margin: 0.5em 0em 0.5em 0em;
}

abbr, dfn {
    font-style: italic;
}

abbr {
    text-decoration: underline dotted white;
}

code {
    border: 1px dotted white;
}

figure {
    width: 100%;
    max-height: 80vh;
    margin: 1.5em 0em 0em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure img {
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    margin-bottom: 0.6em;
}

figcaption {
    text-align: center;
}

embed {
    width: 100%;
    height: 75vh;
}

video {
    width: 100%;
    height: 75vh;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 2em;
}

.menu_item {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.menu_link {
    display: flex;
    text-decoration: none;
}

.menu_link:hover {
    background-color: #474D6B;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown_content {
    display: block;
    background-color: #3C405C;
}

.dropdown_content {
    width: 100%;
    display: none;
    position: absolute;
}

.dropdown_item {
    width: 100%;
    min-height: 7.5vh;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
}

.articles_panel {
    width: 30%;
    max-height: 30vh;
    text-decoration: none;
    margin-bottom: 1.25em;
}

.articles_panel figure {
    height: 100%;
    border: 1px solid white;
    justify-content: center;
}

.articles_panel:hover figure {
    background-color: #3C405C;
    border-color: #9bf1ff;
}

.articles_panel:active figure {
    border-color: #53e3fb;
}

.articles_panel figure img {
    object-fit: fill;
}

.articles_panel figure figcaption {
    font-size: 1.25em;
    line-height: 1.5em;
}

.scroll_padding {
    height: 110vh;
    flex-shrink: 0;
}

.scroll_panel {
    height: 100%;
}

.footnotes {
    font-size: 0.75em;
    line-height: 1.25em;
}

.footnotes li {
    margin: 0.5em 0em 0.5em 0em;
}

#title {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#scroll_button {
    display: flex;
    position: sticky;
    bottom: 12.5vh;
    width: 2.5vh;
    height: 2.5vh;
    border: 1px solid white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

#scroll_button:hover {
    background-color: #3C405C;
    color: #9bf1ff;
    border-color: #9bf1ff;
}

#scroll_button:active {
    color: #53e3fb;
    border-color: #53e3fb;
}

#articles {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 0.5em;
}

#footnote-1:target, #footnote-2:target, #footnote-3:target, #footnote-4:target, #footnote-5:target, #footnote-6:target {
    background-color: #3C405C;
    border: 1px dotted white;
}
